*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    width: 100%;
}

:root{

    /* background colors */

    --bg-primary-color: rgb(15, 15, 15);
    --bg-fill-color: rgb(255, 255, 255);
    --bg-food-color: rgb(255, 62, 62);

    /* text colors */

    --text-primary-color: rgb(232, 231, 231);

    /* spaceing */

    --spacing-xs: 4px;
    --spacing-sm: 8px;
    --spacing-md: 16px;
    --spacing-lg: 24px;
    --spacing-xl: 32px;
    --spacing-2xl: 40px;
    --spacing-3xl: 48px;

    /* border color */

    --border-color: rgb(154, 154, 154);

    /* border radius */

    --border-radius-xs: 4px;
    --border-radius-sm: 8px;
    --border-radius-md: 12px;
    --border-radius-lg: 16px;
    --border-radius-xl: 20px;
    --border-radius-2xl: 24px;

}

html{
    background-color: var(--bg-primary-color);
    color: var(--text-primary-color);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

main, section{
    height: 100%;
    width: 100%;
}

section{
    padding: var(--spacing-2xl);
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: var(--spacing-lg);
}
.btn{
    padding: var(--spacing-sm) var(--spacing-md);
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius-sm);
    background-color: transparent;
    color: var(--text-primary-color);
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn:hover{
    transform: scale(1.1);
    color: black;
    background-color: var(--bg-fill-color);
}
section .infos{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.info{
    padding: var(--spacing-sm) var(--spacing-md);
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius-sm);
}

.board{
    flex-grow: 1;
    border: 1px solid var(--border-color);
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(50px, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(50px, 1fr));
    
}

.block{
    /* width: 30px;
    height: 30px; */
    border: 1px solid var(--border-color);
    border-radius: 50%;
}

.fill{
    background-color: var(--bg-fill-color);
}

.food{
    background-color: var(--bg-food-color);
}



.modal{
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    background-color: rgba(18, 18, 18, 0.953);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal .start-game,
.modal .game-over{
    display: flex;
    flex-direction: column;
    gap: var(--spacing-lg);
    align-items: center;
}

.modal .game-over{
    display: none;
}

.btn-difficulty{
    border: none;
}